body{
	
	background-color: #FFFFFFF;
	color: black;
	font-family: Verdana;
	color: red;



}

h1 {
font-family: verdana;
color : white;
}

img{
	background: #FFFFFFF;
	width="100px" ;
	height="100px" ;

}